- 
  var goods = [
    {
      title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem minima maiores hic.'
    }
  ]
-
  var formInlineInputs = [
    {
      label: 'label_text_1',
    },
    {
      label: 'label_text_2',
      //- disabled: true
    },
    {
      label: 'label_text_3',
      required: true,
    }
  ]
- var bread_crumbs = []