- 
  var goods = [
    {
      id: 'rec-item',
      bookmark: true,
      title: 'iPhone X 256CB Silver',
      label: 'cool',
      img: 'https://i.mycdn.me/image?id=771691873406&ts=00000000f800000160&plc=WEB&tkn=*XCKs-v45XK1ch91vpvZOo3sRmz0&fn=sqr_288',
      price: '95 000'
    },{
      id: 'rec-item',
      bookmark: false,
      title: 'Apple Watch Series 3',
      label: 'cool',
      img: '',
      price: '150 500'
    },{
      id: 'rec-item',
      bookmark: true,
      title: 'iPhone 8 256CB ',
      label: 'cool',
      img: 'http://placehold.it/100x50',
      price: '95 500'
    },{
      id: 'rec-item',
      bookmark: false,
      title: 'Apple Watch Series 3',
      label: 'cool',
      img: 'https://s00.yaplakal.com/pics/pics_original/6/1/3/11110316.jpg',
      price: '55 000'
    },{
      id: 'rec-item',
      bookmark: false,
      title: 'Apple Watch Series 3',
      label: 'cool',
      img: 'https://www.meme-arsenal.com/memes/9706bf74071ab64042a1d499d9fe8879.jpg',
      price: '55 000'
    },{
      id: 'rec-item',
      bookmark: false,
      title: 'Apple Watch Series 3',
      label: 'cool',
      img: 'https://lurkmore.so/images/thumb/a/ac/Harold_on_top.jpg/170px-Harold_on_top.jpg',
      price: '55 000'
    },{
      id: 'rec-item',
      bookmark: false,
      title: '21.5-inch iMac with Retina 4K display',
      label: 'cool',
      img: 'http://placehold.it/300x50',
      price: '75 000'
    },{
      id: 'rec-item',
      bookmark: true,
      title: 'iPhone X 128CB Space Grey',
      label: 'cool',
      img: 'http://placehold.it/350x450',
      price: '55 000'
    }
  ]
- 
  var news = [
    {
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-1.png',
      date: '12.12.2018'
    },{
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-2.png',
      date: '12.12.2018'
    },{
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-3.png',
      date: '12.12.2018'
    }
  ]