- 
  var goods = [
    {
      id: 'rec-item',
      rating: 3,
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      label: 'cool',
      img: './img/img-item-2.png',
      price: 2000
    },{
      id: 'rec-item',
      rating: 3,
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      label: 'cool',
      img: './img/img-item-2.png',
      price: 2000
    },{
      id: 'rec-item',
      rating: 3,
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      label: 'cool',
      img: './img/img-item-2.png',
      price: 2000
    }
  ]
- 
  var news = [
    {
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-1.png',
      date: '12.12.2018'
    },{
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-2.png',
      date: '12.12.2018'
    },{
      title: 'Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.',
      text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum odio doloremque eligendi cupiditate delectus eos incidunt rem sed veniam?',
      img: './img/img-news-3.png',
      date: '12.12.2018'
    }
  ]