block global_vars
  include ./_global_vars.pug
  //- - var isLoader = true

block mixins
  //- +product_card(item)
  include ./product_card.pug
  include ./form.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "default title"
  - 
    var bread_crumbs = [
      {
        href: './',
        text: 'Страницы'
      },
      {
        href: './main.html',
        text: title
      }
    ]

<!DOCTYPE html>
html(lang="ru" itemscope itemtype="http://schema.org/WebPage")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href=`./img/favicon.png` type="image/png")
    
    title NAME_PROJECT | #{title}

    if isLoader
      style.
        @-webkit-keyframes pulse {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        @keyframes pulse {
          0% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
          50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
        .loader_global {
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: #fff;
          pointer-events: none;
          opacity: 0;
          z-index: 10;
          -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
        .loader_global .img-wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        .loader_global .img {
          display: inline-block;
          -webkit-animation: pulse 1.4s infinite linear;
          animation: pulse 1.4s infinite linear;
        }
        .body_global.-loading- .loader_global {
          opacity: 1;
          pointer-events: all;
          z-index: 99999;
        }

    noscript
      <!-- <include_styles_noscript> -->
    
    <!-- <include_styles> -->
    
  body.body_global(class= (isLoader ? '-loading-' : ''))
    noscript
      p JavaScript is not supported in the your browser, or are disabled! Check Settings
      p JavaScript не поддерживается вашим браузером или отключен! Проверьте настройки браузера
    if isLoader
      .loader_global
        .img-wrapper
          img.img(src="./img/favicon.png", alt="logo")
    header.header_wrapper_global(class= headerClass)
      block navbar
        include ./header.pug
    block bread_crumbs
      include ./bread_crumbs.pug
    main.main_wrapper_global(class= contentClass)
      block content
        h1 Default content
    footer.footer_wrapper_global(class= footerClass)
      block footer
        include ./footer.pug

    if isLoader
      script.
        window.onload = function () {
          document.body.classList.remove('-loading-')
        }

    block scripts

    block stylesMain
      link(rel="stylesheet", href="./plugins/datepicker.min.css"  media="nope!" onload="this.media='all'")
      link(rel="stylesheet", href="./plugins/jquery.fancybox.min.css"  media="nope!" onload="this.media='all'")
      //- link(rel="stylesheet", href="./plugins/slick.css"  media="nope!" onload="this.media='all'")

    block stylesOptional

    block scriptsMain
      //- <!-- <include_scripts> -->
      script(defer src="./plugins/jquery.min.js")
      script(defer src="./plugins/popper.min.js")
      script(defer src="./plugins/bootstrap.min.js")
      script(defer src="./plugins/jquery.inputmask.bundle.js")
      script(defer src="./plugins/datepicker.min.js")
      script(defer src="./plugins/jquery.fancybox.min.js")
    
    block scriptsOptional

    <!-- <include_index> -->