block global_vars
  include ./_global_vars.pug

block local_vars
  - var pageClass = "default__page"
  - var pageType = "default"
  - var title = "default title"
  - 
    var bread_crumbs = [
      {
        href: './main.html',
        text: 'Главная'
      },
      {
        href: './main.html',
        text: 'Главная'
      }
    ]

<!DOCTYPE html>
html(lang="ru").no-js
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(http-equiv="cache-control" content="no-cache")
    link(rel="shortcut icon" href=`./img/favicon.png?v=${Date.now()}` type="image/png")
    
    title NAME_PROJECT | #{title}

    <!-- <include_styles> -->
    
  body.body_global(onload="" data-page-custom-type= pageType class= pageClass)
    block popups
      include ./popups.pug
    header.header_wrapper_global
      block navbar
        include ./header.pug
    block bread_crumbs
      include ./bread-crumbs.pug
    main.main_wrapper_global
      block content
        h1 Default content
    footer.footer_wrapper_global
      block footer
        include ./footer.pug

    <!-- <include_scripts> -->