block global_vars
  include ./_global_vars.pug

block local_vars
  - var title = "default title"
  - 
    var bread_crumbs = [
      {
        href: './main.html',
        text: 'Главная'
      },
      {
        href: './main.html',
        text: 'Главная'
      }
    ]

<!DOCTYPE html>
html(lang="ru").no-js
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(http-equiv="cache-control" content="no-cache")
    link(rel="shortcut icon" href=`./img/favicon.png?v=${Date.now()}` type="image/png")
    
    title [COMPANY_NAME] | #{title}

    //- Modernizr
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    //- Bootstrap
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    //- Slick
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    //- FancyBox
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css")
    //- Ion.RangeSlider
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css")
    //- Air Datepicker
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css")
    //- YaMap
    script(src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript")

    //- CustomeCSS
    link(rel="stylesheet", href=`./css/index.css?v=${Date.now()}`)
    
  body.body__global
    block popups
      include ./popups.pug
    header.header__wrapper-global
      block navbar
        include ./header.pug
    block bread_crumbs
      include ./bread-crumbs.pug
    main.main__wrapper-global
      block content
        h1 Default content
    footer.footer__wrapper-global
      block footer
        include ./footer.pug

    //- jQuery
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    //- Bootstrap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    //- Slick
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    //- FancyBox
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js")
    //- Ion.RangeSlider
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js")
    //- Air Datepicker
    script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js")
    //- InputMask
    script(src="./js/jquery.inputmask.bundle.js")
    
    //- CustomeJS
    script(src=`./js/index.js?v=${Date.now()}`)