nav.bread-crumbs
  ul.list-unstyled.list-inline.bread-crumbs__list
    each item, index in bread_crumbs
      li.list-inline-item.bread-crumbs__item(itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" class=`${index == bread_crumbs.length - 1 ? 'bread-crumbs__current': ''}`)
        if index === bread_crumbs.length - 1
          span(itemprop="item").bread-crumbs__link
            span(itemprop="name").bread-crumbs__name= item.text
        else
          a(href= item.href itemprop="item").bread-crumbs__link
            span(itemprop="name").bread-crumbs__name= item.text
        meta(itemprop="position" content=`${index + 1}`)
        span.bread-crumbs__decoration /