footer.footer
  .container--inner
    .row
      .footer--wrapper
        a(href="#").footer--link Связаться с нами
        .footer--social
          a(href="#").footer--social-link.youtube
            i.icon-youtube
          a(href="#").footer--social-link.facebook
            i.icon-facebook
          a(href="#").footer--social-link.vk
            i.icon-vk
      .footer--text АО «Открытие Брокер», лицензия профессионального участника рынка ценных бумаг на осуществление брокерской деятельности № 045-06097-100000, выдана ФКЦБ России 28.06.2002 г. (без ограничения срока действия).
  
//- jquery
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
//- jQuery UI
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js")
//- bootstrap
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
//- slick
script(src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.js")
//- fancybox
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.js")
//- main JS
script(src="./js/index.js")