.container
  .row
    .col-12 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, commodi obcaecati eius possimus quasi iure a sunt quo eos tempore doloribus consequuntur voluptatum et fuga qui labore praesentium neque, officia corporis dolore ipsa nam adipisci distinctio voluptatibus.