header.header-wrapper
  .header
    .container
      .row.header--links.dropdown
        a(href="./index.html").header--link
          img.img-fluid(src="./img/logo.png" srcset="./img/logo@2x.png 2x" alt="")
        a(href="./catalog.html").header--link.active Каталог
        a(href="./favorite").header--link Избранное
          span.badge 3
        a(href="./about.html").header--link О программе 
        .header--link
          .d-flex(id="dropdownCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            .header--link-wrapper
              .header--subtext Мой город:
              .header--text Москва
            i.icon-chevron-down
          .dropdown-menu(aria-labelledby="dropdownCity")
            a.dropdown-item(href="#") Action 1
            a.dropdown-item(href="#") Another action
            a.dropdown-item(href="#") Something else here
        a(href="./basket.html").header--link
          .header--link-wrapper
            .header--subtext Корзина
            .header--text 28 547 
              span.badge 9
        .header--link
          .d-flex(id="dropdownPoints" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            .header--link-wrapper
              .header--subtext Мои баллы
              .header--text 28 547
                i.icon-logo
            i.icon-chevron-down
          .dropdown-menu(aria-labelledby="dropdownPoints")
            a.dropdown-item(href="#") Action 2
            a.dropdown-item(href="#") Another action
            a.dropdown-item(href="#") Something else here
        .header--link
          .d-flex(id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            .header--link-wrapper-flex
              i.icon-user
                span.path1
                span.path2
              .header--text-block
                .header--username Илья
                .header--username Смолин
            i.icon-chevron-down
          .dropdown-menu(aria-labelledby="dropdownProfile")
            a.dropdown-item(href="#") Избранное
            a.dropdown-item(href="#") О программе
            a.dropdown-item(href="#") Город: Москва
            a.dropdown-item(href="#") Мои заказы
            a.dropdown-item(href="#") Сообщения
            a.dropdown-item(href="#") Помощь