meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title __TITLE__ | #{title}
link(rel="shortcut icon" href="./img/favicon.png" type="image/png")
//- bootstrap
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
//- slick 1.8.1
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
//- fancybox
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.css")
//- jQuery UI
link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css", rel="stylesheet")
//- YaMap
script(src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript")
//- Main style
link(href="./css/index.css", rel="stylesheet")