nav.pagination_custom
  a(href="#").btn.btn__custom.btn-outline.pagination_custom__prev.style-one
    span.d-none.d-md-inline Назад
    span.d-md-none
      i.icon-chevron-left
  a(href="#").btn.btn__custom.btn-outline.pagination_custom__prev
    i.icon-chevrons-left
  a(href="#").pagination_custom__page.active 1
  a(href="#").pagination_custom__page 2
  a(href="#").pagination_custom__page 3
  a(href="#").pagination_custom__page 4
  //- a(href="#").pagination_custom__page 5
  a(href="#").btn.btn__custom.btn-outline.pagination_custom__next
    i.icon-chevrons-right
  a(href="#").btn.btn__custom.btn-outline.pagination_custom__next.style-one
    span.d-none.d-md-inline Вперед
    span.d-md-none
      i.icon-chevron-right