nav.pagination_custom
  a(href="#").btn_custom.btn-outline-primary.pagination_custom-prev.style-one
    span.d-none.d-md-inline Назад
    span.d-md-none
      i.icon-chevron-left
  a(href="#").btn_custom.btn-outline-primary.pagination_custom-prev
    i.icon-chevrons-left
  a(href="#").pagination_custom-page.active 1
  a(href="#").pagination_custom-page 2
  a(href="#").pagination_custom-page 3
  a(href="#").pagination_custom-page 4
  //- a(href="#").pagination_custom-page 5
  a(href="#").btn_custom.btn-outline-primary.pagination_custom-next
    i.icon-chevrons-right
  a(href="#").btn_custom.btn-outline-primary.pagination_custom-next.style-one
    span.d-none.d-md-inline Вперед
    span.d-md-none
      i.icon-chevron-right