//- Попап по умолчанию
.fancybox_popup.-default-#fancybox_default(style={'display':'none'})
  .h1.fancybox_title Default title
  p.fancybox_text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolor ipsam recusandae. Alias, quas culpa. Fugit perferendis eveniet beatae officiis.

//- Попап сообщения с выбором действия
.fancybox_popup.-message-#fancybox_message(style={'display':'none'})
  .h1.fancybox_title#fancybox_message-title Message title
  p.fancybox_text#fancybox_message-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolor ipsam recusandae. Alias, quas culpa. Fugit perferendis eveniet beatae officiis.
  .fancybox_message-wrapper
    button(type="button")#fancybox_message-success.btn_custom.-primary- Принять
    button(type="button")#fancybox_message-reject.btn_custom.-secondary- Отменить