extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Главная страница"

block bread_crumbs

block scriptsOptional

block stylesOptional

block scripts
  
block content
  .container-fluid
    .row
      .col-12
        form(action="./", method="get").form
          .row
            .col-md-6.col-xl-3
              fieldset
                legend Текстовое поле
                +form_group()
                  +input({label:'Фамилия'})(type="text" name="text")
            .col-md-6.col-xl-3
              fieldset
                legend Телефон
                +form_group()
                  +input({label:'Телефон'})(type="tel" name="tel")
            .col-md-6.col-xl-3
              fieldset
                legend Электронная почта
                +form_group()
                  +input({label:'E-mail'})(type="email" name="email")
            .col-md-6.col-xl-3
              fieldset
                legend Пароль
                +form_group()
                  +input({label:'Пароль'})(type="password" name="password" required)
            .col-md-6.col-xl-3
              fieldset
                legend Числовое поле
                +form_group()
                  +input({label:'Кол-во товара'})(type="number" name="number" value="1" min="1")
            .col-md-6.col-xl-3
              fieldset
                legend Выпадающий список
                .form_group.-default-
                  select.form_input.-default-(id="form_text_6" name="text")
                    option(value="") Номинал сертификата
                    - var num = 1000
                    option(value="1")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                    - var num = 2000
                    option(value="2")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                    - var num = 3000
                    option(value="3")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                  label.form_label(for="form_text_6") Номинал сертификата
            .col-md-6.col-xl-3
              fieldset
                legend Выбор даты
                +form_group()
                  +datepicker({label:'Дата рождения'})(name="datepicker")
            .col-md-6.col-xl-3
              fieldset
                legend Прикрепить файл (множество)
                +form_group()(class="-default- -inline-")
                  +custom_item({label: 'Прикрепить файл'})(id="attach" type="file")
                  label.form_label(for="attach") Сканер паспорта
            .col-md-6.col-xl-3
              fieldset
                legend Радио и чекбокс кнопки
                +form_group()(class="-default- -inline-")
                  each input in formInlineInputs
                    +custom_item(input)(type="checkbox" name="checkbox")
                hr.hr.-divider-
                +form_group()(class="-default- -inline-")
                  each input in formInlineInputs
                    +custom_item(input)(type="radio" name="radio")
                hr.hr.-divider-
                +form_group()(class="-default- -inline-")
                  +custom_item({label: 'Прикрепить файл'})(type="file")
                  +custom_item({label: 'Прикрепить файл'})(type="file")
                  +custom_item({label: 'Прикрепить файл'})(type="file")
                  label.form_label Сканер паспорта
            .col-md-6.col-xl-3
              fieldset
                legend Текстовое поле (readonly)
                +form_group()
                  +input({label:'Фамилия'})(type="text" name="text" readonly value="Смолин")
            .col-md-6.col-xl-3
              fieldset
                legend Текстовое поле (disabled)
                +form_group()
                  +input({label:'Фамилия'})(type="text" name="text" disabled)
            .col-12
              button(type="submit").btn_custom.-primary- отправить
        hr.hr.-divider-
        form(action="./", method="get").form
          .row
            .col-md-6.col-xl-3
              fieldset
                legend С иконкой
                +form_group('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et')
                  +input({label:'Фамилия'})(type="text" name="text")
                  .form_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, aspernatur.
            .col-md-6.col-xl-3
              fieldset
                legend Невалидное сообщение
                +form_group('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et')
                  +input({label:'Фамилия'})(type="text" name="text" class="-default- -is-invalid-")
            .col-md-6.col-xl-3
              fieldset
                legend Невалидное сообщение облачком
                +form_group('Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et')(class="-default- -error-tooltip-")
                  +input({label:'Фамилия'})(type="text" name="text" class="-default- -is-invalid-")