extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Главная страница"

block bread_crumbs
  
block content
  .container-fluid
    .row
      .col-12
        form(action="./", method="get").form
          .row
            .col-md-6.col-xl-3
              fieldset
                legend Текстовое поле
                .form-group.-default-
                  input.form-control.-default-(id="form_text_1" type="text" name="text")
                  label.form-label(for="form_text_1") Фамилия
                  //- small.form-text.-icon-
                    span.icon.icon_custom.check
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Телефон
                .form-group.-default-
                  input.form-control.-default-(id="form_text_2" type="tel" name="text")
                  label.form-label(for="form_text_2") Телефон
                  //- small.form-text.-invalid-
                    //- span.icon
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Электронная почта
                .form-group.-default-
                  input.form-control.-default-(id="form_text_3" type="email" name="text" pattern="/[0-9]+/g")
                  label.form-label(for="form_text_3") E-mail
                  //- small.form-text.-invalid_tooltip-
                    //- span.icon
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Пароль
                .form-group.-default-
                  input.form-control.-default-(id="form_text_4" type="password" name="text" autocomplete="off" required)
                  label.form-label(for="form_text_4") Пароль
            .col-md-6.col-xl-3
              fieldset
                legend Числовое поле
                .form-group.-default-
                  input.form-control.-default-(id="form_text_5" type="number" name="text" autocomplete="off" value="1" min="1")
                  label.form-label(for="form_text_5") Кол-во товара
            .col-md-6.col-xl-3
              fieldset
                legend Выпадающий список
                .form-group.-default-
                  select.form-control.-default-(id="form_text_6" name="text")
                    option(value="") Номинал сертификата
                    - var num = 1000
                    option(value="1")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                    - var num = 2000
                    option(value="2")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                    - var num = 3000
                    option(value="3")= (num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2, style: 'currency', currency: 'RUB'}))
                  label.form-label(for="form_text_6") Номинал сертификата
            .col-md-6.col-xl-3
              fieldset
                legend Выбор даты
                .form-group.-default-
                  input.form-control.-default-.js-datepicker(id="form_text_7" type="text" name="text")
                  label.form-label(for="form_text_7") Дата рождения
            .col-md-6.col-xl-3
              fieldset
                legend Прикрепить файл (множество)
                .form-group.-default-
                  .custom_item.-file-.-default-.js-custom-file()
                    input(id="form_text_13" type="file" name="text")
                    label.custom_item-label(for="form_text_13") Прикрепить файл
                    .custom_item-value
                      label(for="form_text_13")
                        span Название файла
                      button(type="button").custom_item-btn.icon_custom.check
                  label.form-label(for="form_text_13") Резюме
            .col-md-6.col-xl-3
              fieldset
                legend Радио и чекбокс кнопки
                .custom_item.-checkbox-.-default-
                  input(id="form_text_9" type="checkbox" name="text")
                  label.custom_item-label(for="form_text_9") Кол-во товара
                hr.hr.-divider-
                .custom_item.-radio-.-default-
                  input(id="form_text_10" type="radio" name="text")
                  label.custom_item-label(for="form_text_10") Кол-во товара
                .custom_item.-radio-.-default-
                  input(id="form_text_11" type="radio" name="text")
                  label.custom_item-label(for="form_text_11") Кол-во товара
                hr.hr.-divider-
                .custom_item.-file-.-default-.js-custom-file()
                  input(id="form_text_12" type="file" name="text")
                  label.custom_item-label(for="form_text_12") Прикрепить файл
                  .custom_item-value
                    label(for="form_text_12")
                      span Название файла
                    button(type="button").custom_item-btn.icon_custom.check
            .col-12
              button(type="submit") отправить
        hr.hr.-divider-
        form(action="./", method="get").form
          .row
            .col-md-6.col-xl-3
              fieldset
                legend С иконкой
                .form-group.-default-
                  input.form-control.-default-(id="form_text_validate_1" type="text" name="text" autocomplete="off")
                  label.form-label(for="form_text_validate_1") Текстовое поле
                  small.form-text.-icon-
                    span.icon.icon_custom.check
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Невалидное сообщение
                .form-group.-default-
                  input.form-control.-default-(id="form_text_validate_2" type="text" name="text" autocomplete="off")
                  label.form-label(for="form_text_validate_2") Текстовое поле
                  small.form-text.-invalid-
                    //- span.icon
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Невалидное сообщение облачком
                .form-group.-default-
                  input.form-control.-default-(id="form_text_validate_3" type="text" name="text" autocomplete="off")
                  label.form-label(for="form_text_validate_3") Текстовое поле
                  small.form-text.-invalid_tooltip-
                    //- span.icon
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut voluptatum unde saepe impedit repudiandae harum, consequatur cum dicta quam et.
            .col-md-6.col-xl-3
              fieldset
                legend Невалидное сообщение облачком
                .form-group.-default-
                  input.form-control.-default-(id="form_text_validate_4" type="text" name="text" autocomplete="off")
                  label.form-label(for="form_text_validate_4") Текстовое поле