extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Список страниц"
  
block bread_crumbs
  
block content
  .container-fluid
    ul.-default-
      li
        a(href="./main.html") Главная
    hr.hr.-divider-
    ul.-default-
      li
        a(href="./form.html") Формы