extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Главная страница"

//- block header
  +header()

//- block footer
  +footer()

block scriptsOptional

block stylesOptional

block scripts
  
block content