extends ./components/_layout.pug

block local_vars
  //- - var headerClass = ``
  //- - var contentClass = ``
  //- - var footerClass = ``
  //- - var breadCrumbsClass = ``
  //- - var isLogin = true
  - var title = "Главная страница"

block bread_crumbs

block scriptsOptional

block stylesOptional

block scripts
  
block content