extends ./components/_layout.pug

block html
  //- Попап по умолчанию
  .fancybox_popup.-default-(style={'display':'none'})
    .h1.fancybox_title Default title
    p.fancybox_text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolor ipsam recusandae. Alias, quas culpa. Fugit perferendis eveniet beatae officiis.