//- Попап сообщения с выбором действия
.fancybox_popup.-default-#fancybox_message(style={'display':'none'})
  .fancybox_title#fancybox_message-title
  .fancybox_text#fancybox_message-text
  .fancybox_footer
    button(type="button")#fancybox_message-success.btn_custom.-primary- ДА
    button(type="button")#fancybox_message-reject.btn_custom.-secondary- НЕТ