.bread-crumbs
  .container
    ul.list-unstyled.list-inline
      li.list-inline-item
        a(href="./main.html") Главная
        i.dl-arrow-right
      li.list-inline-item
        a(href="#") Каталог
        i.dl-arrow-right
      li.list-inline-item
        a(href="#") Каталог
        i.dl-arrow-right
      li.list-inline-item
        a(href="#") Каталог
        i.dl-arrow-right
      li.list-inline-item
        a(href="#") Каталог
        i.dl-arrow-right
      li.list-inline-item.current
        a(href="#") Секция
        i.dl-arrow-right
