nav.header-menu
  .btn-mobile-menu-close
  .container
    ul.list-inline.global-menu
      li.list-inline-item
        a(href="#") Товары
        ul
          li
            a(href="#") Как оформить заказ
            i.dl-arrow-down
          li.active
            a(href="#") Контакты
            ul
              li
                a(href="#") Как оформить заказ
                i.dl-arrow-down
              li
                a(href="#") Контакты
                i.dl-arrow-down
              li
                a(href="#") Доставка и оплата
                i.dl-arrow-down
              li
                a(href="#") О нас
                i.dl-arrow-down
              li
                a(href="#") Гарантии
                i.dl-arrow-down
            i.dl-arrow-down
          li
            a(href="#") Доставка и оплата
            ul
              li
                a(href="#") Как оформить заказ
                i.dl-arrow-down
              li
                a(href="#") Контакты
                i.dl-arrow-down
              li
                a(href="#") Доставка и оплата
                i.dl-arrow-down
              li
                a(href="#") О нас
                i.dl-arrow-down
              li
                a(href="#") Гарантии
                i.dl-arrow-down
            i.dl-arrow-down
          li
            a(href="#") О нас
            i.dl-arrow-down
          li
            a(href="#") Гарантии
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
      li.list-inline-item
        a(href="#") Эмоции и впечатления
        ul
          li
            a(href="#") Электроника и бытовая техника 
            i.dl-arrow-down
          li
            a(href="#") Одежда и обувь
            i.dl-arrow-down
          li
            a(href="#") Косметика и парфюмерия
            i.dl-arrow-down
          li
            a(href="#") Ювелирные украшения
            i.dl-arrow-down
          li
            a(href="#") Обустройство интерьера
            i.dl-arrow-down
          li
            a(href="#") Игры, софт, музыка, кино, ТВ
            i.dl-arrow-down
          li
            a(href="#") Книги
            i.dl-arrow-down
          li
            a(href="#") Товары для спорта
            i.dl-arrow-down
          li
            a(href="#") Детский мир
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
      li.list-inline-item
        a(href="#") Красота и здоровье
        ul
          li
            a(href="#") Как оформить заказ
            i.dl-arrow-down
          li
            a(href="#") О нас
            i.dl-arrow-down
          li
            a(href="#") Гарантии
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
      li.list-inline-item
        a(href="#") Развлечения
        ul
          li
            a(href="#") Как оформить заказ
            i.dl-arrow-down
          li
            a(href="#") О нас
            i.dl-arrow-down
          li
            a(href="#") Гарантии
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
      li.list-inline-item
        a(href="#") Образ жизни
        ul
          li
            a(href="#") Как оформить заказ
            i.dl-arrow-down
          li
            a(href="#") О нас
            i.dl-arrow-down
          li
            a(href="#") Гарантии
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
      li.list-inline-item
        a(href="#") Универсальные
        ul
          li
            a(href="#") Как оформить заказ
            i.dl-arrow-down
          li
            a(href="#") О нас
            i.dl-arrow-down
          li
            a(href="#") Гарантии
            i.dl-arrow-down
          .global-menu--slider
            .slider--title Популярное
            .slider Slider
              each val in [1,2,3,4]
                include ./goods-item.pug
        i.dl-arrow-down
    .right
      i.dl-menu(data-mobile="menu")
      i.dl-search#dl-search
    .global-menu--wrapper
      form(action="", method="post").global-menu--search
        input(type="text" name="global-menu--search" value="" onkeyup="this.setAttribute('value', this.value);" placeholder="Поиск по сайту" required).form-control
        button(type="submit").btn.btn-link
          i.dl-search
      #setMenuHere
      .sub-links
        a(href="#") Доставка и оплата
        a(href="./card-activation.html") Активация
        a(href="./reminders.html") Корпоративным клентам
  form#navbar-search-form.navbar-search-form(action="")
    .container
      i.dl-search
      input.result(type="text" placeholder="Placeholder").form-control