.pagination.justify-content-center
  a(href="#").btn.btn-show-more Показать еще
  .btn-group
    a(href="#").btn.btn-secondary 1
    a(href="#").btn.btn-secondary.active 2
    a(href="#").btn.btn-secondary 3
    a(href="#").btn.btn-secondary 4
    a(href="#").btn.btn-secondary 5
  a(href="#").btn Показать всё
