body {
  font-family: $font;
  color: #3b3a41;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

  // &.show {
  //   overflow: hidden;

  //   &::after {
  //     content: "";
  //     display: block;
  //     z-index: 0;
  //     position: fixed;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     background-color: rgba($color: $color-title, $alpha: .5);
  //   }
  // }
}

// .btn {
//   box-shadow: none !important;
//   background-color: transparent;
// }

* {
  outline: none !important;
  
  // &::-webkit-scrollbar {
  //   width: 4px;
  //   border: 1px solid $border-light;
  // }
  
  // &::-webkit-scrollbar-track {
  //   background-color: transparent;
  //   border: 1px solid $border-light;
  // }
  
  // &::-webkit-scrollbar-thumb {
  //   background-color: $txt-grey;
  //   border-radius: 5px;
  // }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font;
  font-weight: bold;
  color: $color-title;

  span {
    border-bottom: 1px solid $color-all-text-hover;
  }

}

.h2 {
  font-size: 32px;
  line-height: normal;
  margin-bottom: 30px;
  margin-top: 50px;
  display: block;
}

.h3 {
  font-size: 24px;
  line-height: normal;
  border-bottom: 1px solid $color-all-text-hover;
}

html {
  // scroll-behavior: smooth;
  // overflow: hidden;
}

p {
  // color: $txt-grey;
  // margin-bottom: 0;
}

a {
  display: inline-flex;
  align-items: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  text-decoration: none;
  
  &:hover {
    color: $color-rose;
    text-decoration: none;
  }
}

.container {
  max-width: $max-width-container-mobile;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 576px) {
    max-width: $max-width-container-sm;
  }

  @media (min-width: 768px) {
    max-width: $max-width-container-tablet;
  }

  @media (min-width: 992px) {
    max-width: $max-width-container-lg;
  }

  @media (min-width: 1200px) {
    max-width: $max-width-container-desktop;
  }

  @media (min-width: 1900px) {
    max-width: $max-width-container-retina;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
  text-align: center;
  -moz-appearance:textfield;
}

// .rating {
//   display: flex;
//   align-items: center;
//   flex-direction: row-reverse;
// }

// .rating > input, .rating-disabled > input { 
//   display: none;

//   &:disabled + label {
//     cursor: default;
//   }
// }

// .rating > label, .rating-disabled > label {
//   line-height: 1;
//   margin-bottom: 0;
//   float: right;
//   margin-left: 1px;
//   margin-right: 1px;
//   cursor: pointer;
// }

// .rating-disabled > input:checked ~ label {
//   svg .shp0 {
//     fill: #ffcb00;
//   }
// }

// /***** CSS Magic to Highlight Stars on Hover *****/
// .rating > input:checked ~ label, /* show gold star when clicked */
// .rating:not(:checked) > label:hover, /* hover current star */
// .rating:not(:checked) > label:hover ~ label {
//   svg .shp0 {
//     fill: #ffcb00;
//   }
// } /* hover previous stars in list */

// .rating > input:not(:disabled):checked + label:hover, /* hover current star when changing rating */
// .rating > input:not(:disabled):checked ~ label:hover,
// .rating > label:hover ~ input:not(:disabled):checked ~ label, /* lighten current selection */
// .rating > input:not(:disabled):checked ~ label:hover ~ label {
//   svg .shp0 {
//     fill: #ff9700;
//   }
// }

.custom-radio {
  display: inline-flex;
  margin-right: 25px;
  padding-left: 0;

  @media (max-width: 767px) {
    margin-right: 10px;
  }

    .custom-control-label {
      display: flex;
      align-items: baseline;
      position: relative;
      cursor: pointer;

      &::after {
        display: none;
      }

      &::before {
        display: inline-flex;
        position: static;
        align-self: flex-start;
        flex-shrink: 0;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        border: solid 1px #a6ce38;
        background-color: #fff;
      }
    }

    .custom-control-input {
      &:checked ~ .custom-control-label::after {
        display: flex;
        border-radius: 100%;
        top: 5px;
        left: 5px;
        background-image: unset;
        width: 15px;
        height: 15px;
        object-fit: contain;
        border-radius: 100px;
        background-color: #a6ce38;
      }
  
      &:checked ~ .custom-control-label::before {
        box-shadow: none;
        background-color: #fff;
        border: solid 2px #a6ce38;
      }
    }
}

input[type="date"] {
  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    color: transparent;
    background-image: url('../img/icon-calendare.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 5px;
  }
}

.form-group--wrapper {
  position: relative;
}

.was-validated {

  .form-control {

    &:focus {
      box-shadow: none;
    }

    &:valid:focus,
    &:valid {
      border: solid 1px $color-green;
      box-shadow: none;
    }

    &:invalid:focus,
    &:invalid {
      border: solid 1px $color-rose;
      box-shadow: none;
    }
  }

  .valid-feedback {
    color: $color-green;
  }

  .invalid-feedback {
    color: $color-rose;
  }
}

.form-control {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  font-weight: 300;
  height: 60px;
  font-size: 16px;
  padding: .375rem 1.5rem;

  & ~ i {
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    right: 20px;
    font-weight: bold;
    color: #ed1550;
    display: none;
  }

  & ~ .valid-feedback,
  & ~ .input-description,
  & ~ .invalid-feedback {
    display: none;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 7px;
  }

  & ~ .input-description {
    display: block;
    color: #999;

    a {
      color: $color-link;
      text-decoration: underline;
      // margin: 0 3px;
      font-size: 12px;
      font-weight: 300;

      &:hover {
        color: $color-rose;
      }
    }
  }

  &:not([value=""]):not(.ui-autocomplete-input):valid {
    border: solid 1px $color-green;
    padding-right: 50px;

    & ~ .dl-success {
      display: inline-block;
    }

    & ~ .valid-feedback {
      display: block;
      color: $color-green;
    }
  }

  &:not([value=""]):not(:focus):invalid {
    border: solid 1px $color-rose;
    padding-right: 50px;

    & ~ .dl-delet {
      display: inline-block;
    }

    & ~ .invalid-feedback {
      display: block;
      color: $color-rose;
    }
  }

  &:focus {
    border: solid 1px #333333;
    box-shadow: none;
  }

  &::placeholder {
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
  }
}

[data-toggle] {
  cursor: pointer;
}

select {
  background-image: url('.../img/icon-arrow-down.png');
  background-repeat: no-repeat;
  background-position: 100% center;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

// .tooltip {

//   .tooltip-inner {
//     box-shadow: 0 2px 6px 0 rgba(176, 186, 197, 0.6);
//     background-color: $color-white;
//     color: #333;
//     padding: 14px;
//     font-size: 12px;
//     font-weight: 500;
//     min-width: 110px;
//   }

//   .arrow {
//     width: 0.8rem;
//     height: .8rem;
  
//     &::before {
//       right: 0;
//       bottom: 0;
//       top: 0;
//       left: 0;
//       box-shadow: -4px 4px 6px 0 rgba(176, 186, 197, 0.6);
//       background-color: #fff;
//       border: none;
//       transform: rotate(45deg)
//     }
//   }
  
//   &.bs-tooltip-right .arrow::before {
//     box-shadow: -4px 4px 6px 0 rgba(176, 186, 197, 0.6);
//   }
//   &.bs-tooltip-left .arrow::before {
//     box-shadow: 4px -4px 6px 0 rgba(176, 186, 197, 0.6);
//   }

//   &.tooltip-success {
//     .tooltip-inner {
//       box-shadow: 0 2px 6px 0 rgba($color: $color-green, $alpha: 0.6);
//       background-color: $color-green;
//       color: #fff;
//     }
//     .arrow::before {
//       box-shadow: none;
//       background-color: $color-green;
//     }
//   }

//   &.tooltip-error {
//     .tooltip-inner {
//       box-shadow: 0 2px 6px 0 rgba($color: $color-rose, $alpha: 0.6);
//       background-color: $color-rose;
//       color: #fff;
//     }
//     .arrow::before {
//       box-shadow: none;
//       background-color: $color-rose;
//     }
//   }
// }


// picture {
//   display: table;
//   width: 100%;
// }

.picture--wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  background-color: #f2f3f6;

  &:empty {
    background-image: url('../img/no_photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.slick-slide {
  height: auto;
}