@import './__my__vars.scss';

/* buttons */
$b-border: 1px;
$b-padding-v: .25rem;
$b-padding-h: .75rem;

$b-height: 40px;
$b-font-size: 13px;
$b-border-radius: 5px;

$b-height-sm: 30px;
$b-font-size-sm: 10px;
$b-border-radius-sm: 2px;

$b-height-xl: 50px;
$b-font-size-xl: 16px;
$b-border-radius-xl: 8px;

$b-link-color: #C3002F;
$b-link-color-hover: darken($color: #C3002F, $amount: 10%);

$disabled-text: #aab0b4;
$disabled-color: #f9f9f9;

$default-text: #fff;
$default-color: #2f4045;
$default-hover-text: #fff;
$default-hover-color: darken($color: #2f4045, $amount: 10%);

$primary-text: #fff;
$primary-color: #C3002F;
$primary-hover-text: #fff;
$primary-hover-color: darken($color: #C3002F, $amount: 10%);

// secondary
// success
// danger
// warning
// info
// light
// dark

$b-types: (
  'primary',
);
$b-texts: (
  $primary-text,
);
$b-colors: (
  $primary-color,
);
$b-hover-texts: (
  $primary-hover-text,
);
$b-hover-colors: (
  $primary-hover-color,
);

// zip - перемешать списки и образовать новые
$bs: zip($b-types, $b-texts, $b-colors, $b-hover-texts, $b-hover-colors);

button,
[role="button"] {
  user-select: none;
  cursor: pointer;
}

.btn {
  &_reset {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;
  }

  &_custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: $b-height;
    font-size: $b-font-size;
    border-radius: $b-border-radius;
    padding: $b-padding-v $b-padding-h;
    // line-height: 16px;
    // letter-spacing: 0.15em;
    // text-transform: uppercase;
    // font-weight: bold;
    border: $b-border solid $default-color;
    background: $default-color;
    color: $default-text;
    &:hover {
      border: $b-border solid $default-color;
      background: $default-color;
      color: $default-text;
    }

    &.-link- {
      border: none;
      background: rgba(0,0,0,0);
      color: $b-link-color;
      font-size: inherit;
      text-decoration: underline;
      &:hover {
        border: none;
        background: rgba(0,0,0,0);
        color: $b-link-color-hover;
        text-decoration: none;
      }
      &.-default- {
        height: auto;
        padding: 0;
      }
    }

    @each $type, $text, $color, $hover-text, $hover-color in $bs {
      &.-#{$type}- {
        border: $b-border solid $color;
        background: $color;
        color: $text;
        &:hover {
          border: $b-border solid $hover-color;
          background: $hover-color;
          color: $hover-text;
        }
      }
    }

    @each $type, $text, $color, $hover-text, $hover-color in $bs {
      &.-outline-#{$type}- {
        border: $b-border solid $color;
        background: rgba(0,0,0,0);
        color: $color;
        &:hover {
          border: $b-border solid $color;
          background: $color;
          color: $hover-text;
        }
      }
    }

    &.-sm- {
      height: $b-height-sm;
      font-size: $b-font-size-sm;
      border-radius: $b-border-radius-sm;
    }
    &.-xl- {
      height: $b-height-xl;
      font-size: $b-font-size-xl;
      border-radius: $b-border-radius-xl;
    }

    &.-auto- {
      height: auto;
    }
    
    &.-round- {
      border-radius: 50px;
    }
    
    &.-disabled-,
    &:disabled {
      background: $disabled-color;
      border: $b-border solid $disabled-color;
      color: $disabled-text;
      pointer-events: none;
    }
  }
}
/* buttons */