@import './__my__vars.scss';

/* buttons */
$b-border: 1px;
$b-padding-v: .25rem;
$b-padding-h: .75rem;
$b-height: 40px;
$b-font-size: 13px;
$b-border-radius: 5px;

$b-link-color: #b3b3b3;
$b-link-color-hover: #f47921;
$b-link-color-active: #ff391c;

$disabled-text: #aab0b4;
$disabled-color: #f9f9f9;

$default-text: #fff;
$default-color: #2f4045;
$default-hover-text: #fff;
$default-hover-color: darken($color: #2f4045, $amount: 10%);
$default-active-color: darken($color: #2f4045, $amount: 10%);

$primary-text: #fff;
$primary-color: #C3002F;
$primary-hover-text: #fff;
$primary-hover-color: darken($color: #C3002F, $amount: 10%);
$primary-active-color: darken($color: #C3002F, $amount: 10%);

// secondary
// success
// danger
// warning
// info
// light
// dark

$b-types: (
  'primary',
);
$b-texts: (
  $primary-text,
);
$b-colors: (
  $primary-color,
);
$b-hover-texts: (
  $primary-hover-text,
);
$b-hover-colors: (
  $primary-hover-color,
);
$b-active-colors: (
  $primary-active-color,
);

// zip - перемешать списки и образовать новые
$bs: zip($b-types, $b-texts, $b-colors, $b-hover-texts, $b-hover-colors, $b-active-colors);

button,
[role="button"] {
  user-select: none;
  cursor: pointer;
}

.btn {
  &_group {
    display: flex;
    &.-default- {
      .btn_custom {
        flex-grow: 1;
        max-width: 100%;
        margin-left: 1px;
        border-radius: 0;
        &:first-child {
          margin-left: 0;
          border-bottom-left-radius: $b-border-radius;
          border-top-left-radius: $b-border-radius;
        }
        &:last-child {
          border-bottom-right-radius: $b-border-radius;
          border-top-right-radius: $b-border-radius;
        }
      }
    }
    // &.-single- {
    //   .btn_custom {
    //     flex-grow: 1;
    //     max-width: 100%;
    //   }
    // }
    // .btn_custom {
    //   flex-grow: 1;
    //   max-width: 100%;
    // }
  }
  &_reset {
    background: safe-rgba(#000, 0);
    padding: 0;
    border: none;
  }

  &_custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: $b-height;
    font-size: $b-font-size;
    border-radius: $b-border-radius;
    padding: $b-padding-v $b-padding-h;
    // line-height: 16px;
    // letter-spacing: 0.15em;
    // text-transform: uppercase;
    // font-weight: bold;
    border: $b-border solid $default-color;
    background: $default-color;
    color: $default-text;
    &:hover {
      border: $b-border solid $default-color;
      background: $default-color;
      color: $default-text;
    }

    &.-link- {
      border: none;
      background: safe-rgba(#000, 0);
      color: $b-link-color;
      font-size: inherit;
      text-decoration: underline;
      &:hover {
        border: none;
        background: safe-rgba(#000, 0);
        color: $b-link-color-hover;
        text-decoration: underline;
      }
      &:active {
        border: none;
        background: safe-rgba(#000, 0);
        color: $b-link-color-active;
        text-decoration: underline;
      }
      &.-simple- {
        height: auto;
        padding: 0;
      }
      &.-native- {
        text-decoration: underline;
        &:active,
        &:hover {
          text-decoration: none;
        }
      }
    }

    @each $type, $text, $color, $hover-text, $hover-color, $active-color in $bs {
      &.-#{$type}- {
        border: $b-border solid $color;
        background: $color;
        color: $text;
        &:hover {
          border: $b-border solid $hover-color;
          background: $hover-color;
          color: $hover-text;
        }
      }
    }

    @each $type, $text, $color, $hover-text, $hover-color, $active-color in $bs {
      &.-outline-#{$type}- {
        border: $b-border solid $color;
        background: safe-rgba(#000, 0);
        color: $color;
        &:hover {
          border: $b-border solid $color;
          background: $color;
          color: $hover-text;
        }
      }
    }

    &.-sm- {
      height: 30px;
      font-size: 12px;
      border-radius: 4px;
    }
    &.-xl- {
      height: 50px;
      font-size: 18px;
      border-radius: 8px;
    }

    &.-auto- {
      height: auto;
    }
    
    &.-round- {
      border-radius: $b-height * .5;
    }
    
    &.-disabled-,
    &:disabled {
      background: $disabled-color;
      border: $b-border solid $disabled-color;
      color: $disabled-text;
      pointer-events: none;
    }
  }
}
/* buttons */