$button-heights: (
  sm: 28px,
  md: 40px,
  lg: 60px
);
$button-border-radiuses: (
  sm: 2px,
  md: 4px,
  lg: 6px
);
$button-font-sizes: (
  sm: 14px,
  md: 16px,
  lg: 18px
);


.btn {
  &_custom {
    height: 45px;
    font-size: 12px;
    border-radius: 0;
    border: 1px solid #444;
    background-color: #444;
    cursor: pointer;
    color: #E5E5E5;
    padding: 0 12px;
    text-decoration: none;
    line-height: 1;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 4px 4px #000;
    &:hover,
    &:focus {
      border: 1px solid #2f4045;
      background-color: #2f4045;
      color: #fff;
      box-shadow: none;
      outline: none;
      text-decoration: none;
    }
    &.active,
    &:active {
      text-decoration: none;
      border: 1px solid #f4f5f6;
      background-color: #f4f5f6;
      color: #2f4045;
      box-shadow: none;
      outline: none;
    }
    @media screen and (min-width: $desktop) {
      &:hover,
      &:active {
        text-decoration: none;
        border: 1px solid #f4f5f6;
        background-color: #f4f5f6;
        color: #2f4045;
        box-shadow: none;
        outline: none;
      }
    }
    &.disabled,
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.btn-primary {
      color: #E5E5E5;
      border: 1px solid #E5E5E5;
      background-color: #3B7EBB;
      &:hover,
      &:focus {
        text-decoration: none;
        color: #3B7EBB;
        border: 1px solid #3B7EBB;
        background-color: #E5E5E5;
      }
      &.active,
      &:active {
        text-decoration: none;
        color: #E5E5E5;
      }
    }
    &.btn-outline {
      color: #E5E5E5;
      border: 1px solid #E5E5E5;
      background-color: transparent;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #E5E5E5;
        color: #444;
      }
      &.active,
      &:active {
        text-decoration: none;
        background-color: #E5E5E5;
        color: #444;
      }
    }
    @each $key, $value in $button-heights {
      &.btn-#{$key} {
        height: map-get($map: $button-heights, $key: $key);
        font-size: map-get($map: $button-font-sizes, $key: $key);
        border-radius: map-get($map: $button-border-radiuses, $key: $key);
      }
    }
  }
}