* {
  outline: none !important;
  &:hover,
  &:focus,
  &.active,
  &:active {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
}

.body_global {
  font-family: $font;
  font-size: $font-size;
  color: $font-color;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  &.scroll-disabled {
    overflow: hidden;
  }
}
.header_wrapper_global,
.footer_wrapper_global {
  flex: 0 0 auto;
}
.header_wrapper_global {
  @media screen and (min-width: $desktop) {

  }
}
.main_wrapper_global {
  flex: 1 0 auto;
}
.footer_wrapper_global {

}