@import './__my__vars.scss';


:root {
  --white: $color-white;
  --black: $color-black;
  --default: $color-default;
  --primary: $color-primary;
  --secondary: $color-secondary;
  --success: $color-success;
  --danger: $color-danger;
  --warning: $color-warning;
  --info: $color-info;
  --light: $color-light;
  --dark: $color-dark;
}

* {
  outline: none !important;
  &::after,
  &::before,
  &:hover,
  &:focus,
  &.active,
  &:active {
    outline: none !important;
  }
}

html,
body {
  height: 100%;
}

.body_global {
  font-family: $font;
  font-size: $font-size;
  color: $font-color;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  &.scroll-disabled {
    overflow: hidden;
  }
}
.header_wrapper_global,
.footer_wrapper_global {
  flex: 0 0 auto;
}
.header_wrapper_global {
  @media screen and (min-width: $desktop) {

  }
}
.main_wrapper_global {
  flex: 1 0 auto;
}
.footer_wrapper_global {

}