$color-primary: blue;
$color-secondary: red;
$color-alt: green;

$font: $font-name, $font-name-second, $font-name-alt !default;
$font-color: $color-alt !default;
$font-size: 16px !default;

$shadow-params: 0 0 5px 0;
$shadow-params-secondary: 0 0 10px 0;
$shadow-color: $color-alt;
$shadow-color-secondary: $color-secondary;
$shadow: $shadow-params $shadow-color;
$shadow-secondary: $shadow-params-secondary $shadow-color-secondary;

$border-color: $color-primary;
$border-color-secondary: $color-secondary;


* {
  outline: none !important;
  // &::-webkit-scrollbar {  // Обёртка главной !important
  //   width: 4px;
  // }
  // &::-webkit-scrollbar-track {  // Главная
  //   background-color: green;
  //   // border: 4px solid green;
  // }
  // &::-webkit-scrollbar-thumb {  // Ползунок
  //   background-color: blue;
  //   border-radius: 5px;
  // }
}

html,
body {
  height: 100%;
}

.default {
  font-family: $font;
  font-size: $font-size;
  color: $font-color;
  display: flex;
  flex-direction: column;
  // scroll-behavior: smooth;
  overflow-x: hidden;
  &--header,
  &--footer {
    background-color: #999;
    flex: 0 0 auto;
  }
  &--main {
    flex: 1 0 auto;
  }
  &--footer {

  }
}