@import './__my__vars.scss';

/* fancybox */
.fancybox_base {
  .fancybox {
    &-slide--html {
      padding: 15px;
      @media screen and (min-width: $tablet) {
        // padding: 15px;
      }
    }
    &_footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: -20px;
      padding: 40px 0;
      .btn_custom {
        flex: 0 0 270px;
        max-width: 270px;
        margin: 0 10px;
      }
    }
    &_popup {
      padding: 20px;
      width: 660px;
      border-radius: 10px;
      // .fancybox-button.fancybox-close-small,
      .js-fancybox-success,
      .js-fancybox-reject {
        display: none;
      }
      &.-success- {
        .js-fancybox-success {
          display: inline-flex;
        }
      }
      &.-reject- {
        .js-fancybox-reject {
          display: inline-flex;
        }
      }
    }
  }
  .fancybox-bg {
    // background: #fff;
  }
  &.fancybox-is-open {
    .fancybox-bg {
      // opacity: 0.5;
    }
  }
}

// Чтобы не дергался контент при открытии/закрытии попапа
// на десктопе для фиксед элементов
.body_global.compensate-for-scrollbar {
  
  .header_wrapper_global,
  .main_wrapper_global,
  .footer_wrapper_global {
    @media screen and (min-width: $desktop) {
      margin-right: inherit;
    }
  }

  // Чтобы не было дыры на десктопе на месте скрола 
  .fancybox-container.fancybox-is-open .fancybox-slide {
    @media screen and (min-width: $desktop) {
      overflow-y: scroll;
    }
  }
}
/* fancybox */