@import './__my__vars.scss';

/* fancybox */
.fancybox_base {
  .fancybox-bg {
    // background: #fff;
  }
  .fancybox {
    &-slide--html {
      padding: 15px;
      @media screen and (min-width: $tablet) {
        // padding: 15px;
      }
    }
    &_title {
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;      
    }
    &_text {
      
    }
    &_footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .btn_custom {
        flex: 0 0 270px;
        max-width: 270px;
        margin: 0 10px;
      }
    }
    &_popup {
      &.-default- {
        padding: 20px;
        width: 750px;
        .fancybox-button.fancybox-close-small,
        #fancybox_message-success,
        #fancybox_message-reject {
          display: none;
        }
      }
      &.-success- {
        #fancybox_message-success {
          display: inline-flex;
        }
      }
      &.-reject- {
        #fancybox_message-reject {
          display: inline-flex;
        }
      }
    }
  }
  &.fancybox-is-open {
    .fancybox-bg {
      // opacity: 0.5;
    }
  }
}

// Чтобы не дергался контент при открытии/закрытии попапа
// на десктопе для фиксед элементов
.body_global.compensate-for-scrollbar {
  
  .header_wrapper_global,
  .main_wrapper_global,
  .footer_wrapper_global {
    @media screen and (min-width: $desktop) {
      margin-right: inherit;
    }
  }

  // Чтобы не было дыры на десктопе на месте скрола 
  .fancybox-container.fancybox-is-open .fancybox-slide {
    @media screen and (min-width: $desktop) {
      overflow-y: scroll;
    }
  }
}
/* fancybox */