@import './__my__vars.scss';

$f-invalid-text-color: #fff;
$f-invalid-color: #ff391c;
$f-invalid-background: #fffbfa;

/* form validation */

// [novalidate]

// This disables the browser default feedback
// tooltips, but still provides access to the form validation
// APIs in JavaScript

.form {
  &_error {
    max-width: 100%;
    display: none;
    color: $f-invalid-color;
    margin-top: .5em;
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.3;
    &.-error_tooltip- {
      margin-top: 12px;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      background: $f-invalid-color;
      color: $f-invalid-text-color;
      padding: 15px;
      border-radius: 4px;
      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 20px;
        border: 8px solid $f-invalid-color;
        border-top: none;
        border-left: 8px solid safe-rgba($f-invalid-color, 0);
        border-right: 8px solid safe-rgba($f-invalid-color, 0);
      }
    }
  }
}

.form_input.-is-invalid- {
  border: 1px solid $f-invalid-color !important;
  color: $f-invalid-color !important;
  background: $f-invalid-background !important;
  ~ .form_icon,
  ~ .form_label {
    color: $f-invalid-color !important;
  }
  ~ .form_icon {
    border-color: $f-invalid-color !important;
  }
  ~ .form_error {
    display: block !important;
  }
}
/* form validation */