input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
  text-align: center;
  -moz-appearance:textfield;
}

input[type="date"] {
  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    // color: transparent;
    // background-image: url('../img/icon-calendare.png');
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-color: transparent;
    // margin-right: 5px;
  }
}

.was-validated {

  .form-control {

    &:focus {
      box-shadow: none;
    }

    &:valid:focus,
    &:valid {
      border: solid 1px #0f0;
      box-shadow: none;
    }

    &:invalid:focus,
    &:invalid {
      border: solid 1px #f00;
      box-shadow: none;
    }
  }

  .valid-feedback {
    color: #0f0;
  }

  .invalid-feedback {
    color: #f00;
  }
}

.form-control {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  font-weight: 300;
  height: 60px;
  font-size: 16px;
  padding: .375rem 1.5rem;

  & ~ i {
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    right: 20px;
    font-weight: bold;
    color: #ed1550;
    display: none;
  }

  & ~ .valid-feedback,
  & ~ .input-description,
  & ~ .invalid-feedback {
    display: none;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 7px;
  }

  & ~ .input-description {
    display: block;
    color: #999;

    a {
      // color: $color-link;
      text-decoration: underline;
      // margin: 0 3px;
      font-size: 12px;
      font-weight: 300;

      &:hover {
        color: #f00;
      }
    }
  }

  &:not([value=""]):not(.ui-autocomplete-input):valid {
    border: solid 1px #0f0;
    padding-right: 50px;

    & ~ .dl-success {
      display: inline-block;
    }

    & ~ .valid-feedback {
      display: block;
      color: #0f0;
    }
  }

  &:not([value=""]):not(:focus):invalid {
    border: solid 1px #f00;
    padding-right: 50px;

    & ~ .dl-delet {
      display: inline-block;
    }

    & ~ .invalid-feedback {
      display: block;
      color: #f00;
    }
  }

  &:focus {
    border: solid 1px #333333;
    box-shadow: none;
  }

  &::placeholder {
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
  }
}

.custom-radio {
  display: inline-flex;
  margin-right: 25px;
  padding-left: 0;

  @media (max-width: 767px) {
    margin-right: 10px;
  }

  .custom-control-label {
    display: flex;
    align-items: baseline;
    position: relative;
    cursor: pointer;

    &::after {
      display: none;
    }

    &::before {
      display: inline-flex;
      position: static;
      align-self: flex-start;
      flex-shrink: 0;
      margin-right: 5px;
      width: 25px;
      height: 25px;
      border-radius: 100px;
      border: solid 1px #a6ce38;
      background-color: #fff;
    }
  }

  .custom-control-input {
    &:checked ~ .custom-control-label::after {
      display: flex;
      border-radius: 100%;
      top: 5px;
      left: 5px;
      background-image: unset;
      width: 15px;
      height: 15px;
      object-fit: contain;
      border-radius: 100px;
      background-color: #a6ce38;
    }

    &:checked ~ .custom-control-label::before {
      box-shadow: none;
      background-color: #fff;
      border: solid 2px #a6ce38;
    }
  }
}