@import './__my__vars.scss';

$f-background: #fff;
$f-height: 40px;
$f-border: 1px;
$f-border-color: lighten($color: $color-primary, $amount: 10%);
$f-border-color-focus: $color-primary;
$f-radius: 6px;
$f-padding-v: .375rem;
$f-padding-h: 1.5rem;
$f-font-size: $font-size;
$f-text-color: $color-default;
$f-text-muted: lighten($color: $color-default, $amount: 30%);
$f-text-weight: 400;
$f-placeholder-color: rgba($color: $color-default, $alpha: .5);
$f-placeholder-weight: 300;
$f-gutter: 20px;

/* Стили для формы */

// убираем возможность выделения текста
label {
  user-select: none;
}

// убираем нативные кнопки у input[type=number]
input[type=number] {
  text-align: center;
  -moz-appearance:textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.form {
  width: 100%;
  fieldset {
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
  }
  legend {
    position: absolute;
    background: #fff;
    padding: 2px 6px;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    font-size: 0.6em;
    display: inline-block;
    width: auto;
  }
}

.form-row {
  margin-left: -#{$f-gutter * .5};
  margin-right: -#{$f-gutter * .5};
  > [class*=col-] {
    padding-left: #{$f-gutter * .5};
    padding-right: #{$f-gutter * .5};
  }
}

.form-text {
  display: block;
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 1.3;
  color: lighten($color: $f-text-color, $amount: 30%);
  span {
    line-height: inherit;
    font-size: inherit;
    &.icon {
      height: #{($font-size * 0.8) * 1.3};
      margin-right: 10px;
      font-size: 1em;
    }
  }
  &.-icon- {
    display: flex;
    align-items: baseline;
  }
  &.-invalid- {
    color: rgb(250, 0, 0)
  }
  &.-invalid_tooltip- {
    background: rgb(250, 0, 0);
    color: #fff;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1;
  }
}

.form-group {
  margin-bottom: 0;
  position: relative;
  &.-default- {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 15px;
    }
    > .form-label {
      order: -1;
      margin-bottom: .5em;
      font-size: 0.9em;
    }
  }
}

.form-control {
  &.-default- {
    height: $f-height;
    padding: $f-padding-v $f-padding-h;
    border-radius: $f-radius;
    font-size: $f-font-size;
    font-weight: $f-text-weight;
    background-color: $f-background;
    border: $f-border solid $f-border-color;
    color: $f-text-color;
    width: 100%;
  
    &:focus {
      border: $f-border solid $f-border-color-focus;
    }
  
    &:disabled,
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:required {
      ~ .form-label {
        &::after {
          content: "*";
          color: rgb(255, 0, 0);
        }
      }
    }
  
    // &:read-only {
    //   pointer-events: none;
    //   background: rgba($color: $f-background, $alpha: 0.5);
    //   border: $f-border solid rgba($color: $f-border-color, $alpha: 0.5);
    // }
  
    &::placeholder {
      color: $f-placeholder-color;
      font-size: $f-font-size;
      font-weight: $f-placeholder-weight;
    }
  }

  &.-xl- {
    height: $f-height * 1.25;
    padding: #{$f-padding-v * 1.25} #{$f-padding-h * 1.25};
    border-radius: $f-radius * 1.25;
    font-size: $f-font-size * 1.25;
  }

  &.-sm- {
    height: $f-height * .75;
    padding: #{$f-padding-v * .75} #{$f-padding-h * .75};
    border-radius: $f-radius * .75;
    font-size: $f-font-size * .75;
  }
}

textarea.form-control {
  height: auto;
}