@import './__my__vars.scss';

/* fonts */
$url_rub: url('#{$font-path}ALSRubl.ttf');
$url_1: url('#{$font-path}_font.ttf');
// $url_1_woff: url('#{$font-path}_font.woff');

@font-face {
	font-family: $font-rub;
	src: $url_rub format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: $font-main;
	// src: $url_1_woff format('woff'), $url_1 format('truetype');
	src: $url_1 format('truetype');
	font-weight: 100;
	font-style: normal;
  font-display: block;
}
/* fonts */