@import './__my__vars.scss';
@import './__form-custom.scss';
@import './__form-validated.scss';

/* Стили для формы */
$color: $form-text-color;
$margin-top: $form-text-margin-top;
$padding-column: $form-column-padding;

// убираем возможность выделения текста
label {
  user-select: none;
}

// убираем нативные кнопки у input[type=number]
input[type=number] {
  text-align: center;
  -moz-appearance:textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.form-row {
  margin-left: -#{$padding-column};
  margin-right: -#{$padding-column};
  > [class*=col-] {
    padding-left: #{$padding-column};
    padding-right: #{$padding-column};
  }
}

.form-text {
  display: block;
  margin-top: $margin-top;
}

.text-muted {
  color: $color !important;
}

.form-group {
  margin-bottom: 0;
  &.style-default {
    margin-bottom: 10px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-control {
  &.style-default {
    height: 46px;
    padding: .375rem 1.5rem;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    background-color: $form-background;
    border: 1px solid $form-border-color;
    color: $form-color;
  
    &:focus {
      border: 1px solid $form-border-color-focus;
    }
  
    &:disabled,
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      user-select: none;
    }
  
    &:read-only {
      pointer-events: none;
      background: rgba($color: $form-background, $alpha: 0);
      border: 1px solid rgba($color: $form-border-color, $alpha: 0);
    }
  
    &::placeholder {
      color: $form-color-placeholder;
      font-size: inherit;
      font-weight: inherit;
    }
  }
  &.form-control-lg {
    height: 60px;
    padding: .375rem 1.5rem;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 300;
  }
  &.form-control-sm {
    height: 30px;
    padding: .375rem 1.5rem;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
  }
}

textarea.form-control {
  height: auto;
}