@import './__my__vars.scss';

$f-background: #2f4045;
$f-background-active: #2f4045;
$f-background-checked: #2f4045;
$f-border-color: lighten($color: #C3002F, $amount: 10%);
$f-border-color-active: #C3002F;
$f-border-color-checked: #C3002F;
$f-text-color: #2f4045;
$f-text-color-active: #2f4045;
$f-text-color-checked: #2f4045;

.custom {
  &_item {
    position: relative;
    display: inline-block;
    margin-bottom: .5em;
    line-height: 1;
    // margin-right: 1em;
    input {
      width: 0;
      height: 0;
      pointer-events: none;
      opacity: 0;
      position: absolute;
      &:checked {
        ~ .custom_item-label {
          &::after {
            opacity: 1;
          }
          &::before {
            
          }
        }
      }
    }
    label {
      cursor: pointer;
    }
    &-label {
      position: relative;
      padding-left: 1.5rem;
      font-size: .8em;
      line-height: 1.35;
      margin-bottom: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 1rem;
        width: 1rem;
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::before {
        
      }
      &::after {
        opacity: 0;
      }
    }
    &-value {
      display: inline-block;
      position: relative;
      line-height: 1;
      label {
        margin-bottom: 0;
        padding: 10px 15px;
        padding-right: 50px;
        background: #f1f1f1;
        border-radius: 16px;
        font-size: 0.9em;
        line-height: 1.2;
        span {
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
    &-btn {
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 5px;
      transform: translateY(-50%);
      border: none;
      background: rgba($color: #000000, $alpha: 0);
      &:hover {

      }
    }
    &.-radio- {
      .custom_item-label {
        &::before,
        &::after {
          border-radius: 100%;
        }
        &::after {
          background: chocolate;
          height: .5rem;
          width: .5rem;
          top: 0.25rem;
          left: 0.25rem;
        }
      }
    }
    &.-checkbox- {
      .custom_item-label {
        &::before,
        &::after {
          border-radius: 4px;
        }
        &::after {
          content: $check;
          font-family: icomoon;
        }
      }
    }
    &.-file- {
      display: inline-flex;
      align-items: center;
      .custom_item-label {
        padding-left: 0;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}
