$icomoon-font-path: "../fonts" !global;
$font-path: "../fonts/" !default;
$font-name-1: Arial !default;
$font-name-2: Arial !default;
$font-name-3: 'Open Sans' !default;

$font: $font-name-1, $font-name-2, $font-name-3 !default;
$font-color: #2f4045 !default;
$font-size: 16px !default;

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
$retina: 1600px;