$mobile: 320px !default;
$tablet: 768px !default;
$desktop: 1200px !default;
$retina: 1600px !default;

$color-white: #fff !default;
$color-black: #000 !default;
$color-default: #2f4045 !default;
$color-primary: #007bff !default;
$color-secondary: #6c757d !default;
$color-success: #28a745 !default;
$color-danger: #dc3545 !default;
$color-warning: #ffc107 !default;
$color-info: #17a2b8 !default;
$color-light: #f8f9fa !default;
$color-dark: #343a40 !default;

$icomoon-font-path: "../fonts" !global;
$font-path: "../fonts/" !default;
$font-name-1: Arial !default;
$font-name-2: Arial !default;
$font-name-3: 'Open Sans' !default;

$font: $font-name-1, $font-name-2, $font-name-3 !default;
$font-color: $color-default !default;
$font-size: 16px !default;

$title-size-1: 32px;
$title-size-2: 28px;
$title-size-3: 24px;
$title-size-4: 20px;
$title-size-5: 18px;
$title-size-6: 16px;

$link-color: $color-primary;
$link-color-hover: darken($color: $color-primary, $amount: 15%);

$form-color: $color-default !default;
$form-color-secondary: $color-white !default;
$form-color-placeholder: rgba($color: $color-default, $alpha: .5) !default;
$form-color-placeholder-seconday: rgba($color: $color-primary, $alpha: .5) !default;
$form-border-color: rgba($color: $color-default, $alpha: .5) !default;
$form-border-color-secondary: rgba($color: $color-primary, $alpha: .5) !default;
$form-border-color-focus: $color-default !default;
$form-border-color-secondary-focus: $color-primary !default;
$form-background: $color-white !default;
$form-background-secondary: $color-primary !default;
$form-column-padding: 5px !default;
$form-text-margin-top: .25rem !default;
$form-text-font-size: 80% !default;
$form-text-color: $color-secondary !default;
$form-text-color-valid: $color-success !default;
$form-text-color-unchecked-valid: darken($color: $color-success, $amount: 15%) !default;
$form-text-color-invalid: $color-danger !default;
$form-text-color-unchecked-invalid: darken($color: $color-danger, $amount: 15%) !default;