$mobile: 320px !default;
$tablet: 768px !default;
$desktop: 1200px !default;
$retina: 1600px !default;
$mobile_max: $tablet - 1px !default;
$tablet_max: $desktop - 1px !default;
$desktop_max: $retina - 1px !default;

$color-white: #fff !default;
$color-black: #000 !default;
$color-default: #2f4045 !default;
$color-primary: #007bff !default;
// $color-secondary: #6c757d !default;
$color-success: #28a745 !default;
$color-danger: #dc3545 !default;
// $color-warning: #ffc107 !default;
// $color-info: #17a2b8 !default;
// $color-light: #f8f9fa !default;
// $color-dark: #343a40 !default;

$icomoon-font-path: "../fonts" !global;
$font-path: "../fonts/" !default;
$font-main: Arial !default;
$font-secondary: sans-serif !default;

$font: $font-main, $font-secondary !default;
