/* Стили для попапов */
.popup {
  
}

.fancybox-slide--html {
  // padding: 0;
  // @media screen and (min-width: $tablet) {
  //   padding: 6px;
  // }
}
.fancybox-bg {
  // background: #fff;
}
.fancybox-is-open .fancybox-bg {
  // opacity: 0.3;
}

// Чтобы не дергался контент при открытии/закрытии попапа
// на десктопе для фиксед элементов
.body_global.compensate-for-scrollbar {
  
  // .header__wrapper-global {
  //   @media screen and (min-width: $desktop) {
  //     margin-right: inherit;
  //   }
  // }

  // Чтобы не было дыры на десктопе на месте скрола 
  .fancybox-container.fancybox-is-open .fancybox-slide {
    overflow-y: scroll;
  }
}