@import './__my__vars.scss';

/* text */
$font-color: #242b31;
$font-size: 18px;

$link-color: #b3b3b3;
$link-color-hover: #f47921;

.body_global {
  font-family: $font;
  font-size: $font-size;
  color: $font-color;
  line-height: 1.3;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 400;
  line-height: 1.2;
  color: #2f4045;
  margin-bottom: 0;
  &.-grey- {
    color: #647886;
  }
  &.-lightgrey- {
    color: #b1bbc2;
  }
  &.-light- {
    font-weight: 300;
  }
  &.-link- {
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
  &.-nowrap- {
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

.text_p,
p {
  margin-bottom: 10px;
  font-size: 1em;
  font-weight: 400;
  &.-value- {
    font-weight: 300;
    font-size: 36px;
    color: #2f4045;
    line-height: 1.2;
    &.-sm- {
      line-height: 1.5;
      font-size: 24px;
    }
  }
  &.-last- {
    margin-bottom: 30px;
  }
  &.-m_5- {
    margin-bottom: 5px;
  }
  &.-dark- {
    color: #2f4045;
  }
  &.-grey- {
    color: #737a80;
  }
  &.-lightgrey- {
    color: #b1bbc2;
  }
  &.-lightengrey- {
    color: #d6d6d6;
  }
  &.-light- {
    font-weight: 300;
  }
  &.-italic- {
    font-style: italic;
  }
  &.-sm- {
    font-size: 12px;
  }
  &.-xl- {
    font-size: 1.5em;
  }
  &.-link- {
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
  &.-max-,
  &.-min- {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -5px;
      height: 4px;
      width: 4px;
      border-radius: 10px;
    }
  }
  &.-max- {
    &::after {
      background: #33b2cf;
    }
  }
  &.-min- {
    &::after {
      background: #d43a45;
    }
  }
}

a {
  user-select: none;
  font-size: inherit;
  color: inherit;
  // text-decoration: underline;
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
  &.-native- {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}
/* text */