/* Типография */
$title-size-1: 32px;
$title-size-2: 28px;
$title-size-3: 24px;
$title-size-4: 20px;
$title-size-5: 18px;
$title-size-6: 16px;
$text-size: $font-size;
$link-size: $font-size;

$title-color: $font-color;
$text-color: $font-color;
$link-color: #e5e5e5;
$link-color-hover: #000;


.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $title-color;
  line-height: 1.5;
}

.h1, h1 {
  font-size: $title-size-1;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-1;
  }
}

.h2, h2 {
  font-size: $title-size-2;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-2;
  }
}

.h3, h3 {
  font-size: $title-size-3;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-3;
  }
}

.h4, h4 {
  font-size: $title-size-4;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-4;
  }
}

.h5, h5 {
  font-size: $title-size-5;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-5;
  }
}

.h6, h6 {
  font-size: $title-size-6;
  @media screen and (min-width: $desktop) {
    font-size: $title-size-6;
  }
}

a {
  font-size: inherit;
  color: $link-color;
  user-select: none;
  &:hover,
  &:focus {
    color: $link-color;
  }
  &.active,
  &:active {
    color: $link-color-hover;
  }
  @media screen and (min-width: $desktop) {
    &:hover {
      color: $link-color-hover;
    }
  }
}

p {
  font-size: inherit;
  @media screen and (min-width: $desktop) {
    font-size: inherit;
  }
}