@import './__my__vars.scss';

/* text */
$font-color: #242b31;
$font-size: 16px;
$font-weight: 400;

$link-color: #b3b3b3;
$link-color-hover: #f47921;

.body_global {
  font-family: $font;
  font-size: $font-size;
  color: $font-color;
  line-height: 1.3;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: $font-weight;
  line-height: 1.3;
  color: $font-color;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

.text_p,
p {
  margin-bottom: 10px;
  font-size: $font-size;
  font-weight: $font-weight;
  // &.-sm- {
  //   font-size: 12px;
  // }
  // &.-xl- {
  //   font-size: 1.5em;
  // }
}

// .text_ul,
// ul {}

// .text_ol,
// ol {}

// .text_dl,
// dl {}

// .text_blockquote,
// blockquote {}

// .text_table,
// table {}

a {
  // user-select: none;
  font-size: inherit;
  color: inherit;
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
  &.-native- {
    color: $link-color;
    &:hover {
      color: $link-color-hover;
    }
  }
  &.-td_native- {
    &:hover {
      text-decoration: underline;
    }
  }
  &.-td_reverse- {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
/* text */


/* text modificators */
.-fsi- {
  font-style: italic !important;
}
.-ttu- {
  text-transform: uppercase !important;
}
.-ttl- {
  text-transform: lowercase !important;
}
.-fw300- {
  font-weight: 300 !important;
}
.-fw500- {
  font-weight: 500 !important;
}
.-fw600- {
  font-weight: 600 !important;
}
.-fw700- {
  font-weight: 700 !important;
}
.-fw800- {
  font-weight: 800 !important;
}
/* text modificators */


/* static text block */
// .text_static {
//   font-family: $font;
//   font-size: $font-size;
//   color: $font-color;
//   line-height: 1.3;
//   h1 {}
//   h2 {}
//   h3 {}
//   a {}
//   p {}
//   ul {}
//   ol {}
//   dl {}
//   blockquote {}
//   table {}
// }
/* static text block */