@import './__my__vars.scss';

/* tooltip */
.body_global {
  .tooltipster-sidetip.tooltipster-left {
    .tooltipster-arrow-background,
    .tooltipster-arrow-border {
      border-left-color: #fff;
    }
  }
  .tooltipster-sidetip.tooltipster-top {
    .tooltipster-arrow-background,
    .tooltipster-arrow-border {
      border-top-color: #fff;
    }
  }
  .tooltipster-sidetip.tooltipster-bottom {
    .tooltipster-arrow-background,
    .tooltipster-arrow-border {
      border-bottom-color: #fff;
    }
  }
  .tooltipster-sidetip.tooltipster-right {
    .tooltipster-arrow-background,
    .tooltipster-arrow-border {
      border-right-color: #fff;
    }
  }
  .tooltipster-sidetip {
    .tooltipster-content {
      display: inline-flex;
      align-items: center;
      padding: 0;
      padding-left: 10px;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #99A1AB;
      span {
        display: inline-block;
        font-weight: bold;
        color: #F18700;
        font-size: 1.3em;
        margin-left: 5px;
      }
      .btn_custom {
        height: 36px;
        border-radius: 6px;
        margin-left: 10px;
        text-decoration: none;
      }
    }
    .tooltipster-box {
      border-radius: 6px;
      background: #fff;
      border: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
    &.-secondary- {
      .tooltipster-box {
        background: #99A1AB;
        box-shadow: none;
      }
      .tooltipster-content {
        font-size: 14px;
        line-height: 1.2;
        text-transform: none;
        padding: 6px 10px;
        color: #FFFFFF;
        text-align: center;
        justify-content: center;
        letter-spacing: normal;
        font-weight: 400;
      }
    }
  }
}
/* tooltip */