// FONTS SETTING
// $url_1: url('../fonts/MuseoSansCyrl-100.ttf');

// @font-face {
// 	font-family: MuseoSansCyrl;
// 	src: $url_1;
// 	font-weight: 100;
// 	font-style: normal;
// }

// MY VARS
$max-width-container-mobile: 375px;
$max-width-container-sm: 375px;
$max-width-container-tablet: 768px;
$max-width-container-lg: 768px;
$max-width-container-desktop: 1200px;
$max-width-container-retina: 1200px;

$color-primary: #5B436E;
$color-secondary: #62BCB4;
$color-alt: #B278B6;

// ---styles---

// shadows
$shadow-params: 0 0 5px 0;
$shadow-params-secondary: 0 0 10px 0;
$shadow-color: $color-alt;
$shadow-color-secondary: $color-secondary;
$shadow: $shadow-params $shadow-color;
$shadow-secondary: $shadow-params-secondary $shadow-color-secondary;

// font
$font-path: "../fonts" !default;
$font: Arial, "Open Sans";
$font-color: $color-alt;
$font-color-secondary: $color-secondary;
$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
$font-size: 16px;

// color-link
$link-color: $color-primary;
$link-color-hover: $color-secondary;

// border
$border-color: $color-primary;
$border-color-secondary: $color-secondary;
$border: 1px solid $border-color;
$border-secondary: 1px solid $border-color-secondary;