@import './__my__vars.scss';

/* header */
.header {
  &_wrapper_global {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  &-container {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
/* header */