$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chevron-down: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-chevron-up: "\e903";
$icon-youtube: "\e904";
$icon-facebook: "\e905";
$icon-user-path1: "\e906";
$icon-user-path2: "\e907";
$icon-bookmark: "\e908";
$icon-vk: "\e909";
$icon-logo: "\e90a";

