$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-clock: "\e910";
$icon-datepicker: "\e911";
$icon-placemark: "\e912";
$icon-online: "\e913";
$icon-card: "\e914";
$icon-cash: "\e915";
$icon-check_double: "\e916";
$icon-close: "\e90a";
$icon-check: "\e90f";
$icon-file: "\e900";
$icon-help: "\e901";
$icon-minus: "\e902";
$icon-plus: "\e903";
$icon-print: "\e904";
$icon-selfdelivery: "\e917";
$icon-now_goods: "\e905";
$icon-later_goods: "\e90e";
$icon-all_goods: "\e906";
$icon-cart_later: "\e907";
$icon-chevron: "\e908";
$icon-chevron_down: "\e909";
$icon-delete: "\e90b";
$icon-loyalty: "\e90c";
$icon-loyalty_vip: "\e90d";

